h1, h2, h3 {
    font-family: Verdana, Arial, Sans-serif;
}

p, form {
    font-family: Arial, Sans-serif;
}

.image-link img {
    transition: transform 0.3s ease;
}

nav .nav-icon {
    transition: transform 0.3s ease;
    text-decoration: none;
    margin-top: 5px;
    color: #602020;
}

.image-link img:hover {
    transform: scale(1.1);
}

nav .nav-icon:hover {
    transform: scale(1.1);
}
    body {
    background-image: url("../images/bookcase.png");
    background-repeat: round;
    background-size: 700px;
    margin: 0px

}
nav {
    width: 100%;
    height: 110px;
    background-color: #562E0C;
    color: #1F3C54 ;
    /* position: fixed; */
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid black;
}

nav h1 {
    background-color: #faebd7;
    margin: auto;
    padding: 20px;
    border: 10px solid black;
    border-radius: 10%;
    
}

#book-logo {
    width: 90px;
    height: 90px;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}

#book-logo img {
    width:  90px;
    height: 90px;
}

#hero img {
    width: 100%;
    position: relative;
    border-bottom: 6px solid black;
    margin-bottom: -5px;
}

#column {
    background-color: rgba(109, 109, 109, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 20px;
    max-height: auto;
    position: relative;
}



/* About Me */

#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-left: 15px;
}

#about-me img {
    max-width: 520px;
    max-height: 520px;
    grid-column: 1 / 2;
    border: 5px solid black;
    background-color: #faebd7;
}

#about-me-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #faebd7;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    border: 5px solid black;
    max-width: 510px;
    padding-left: 10px;
}
#about-me-description p {
    font-size: 1.5em;
}

/* WWR */

#wwr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-right: 15px;
}

#wwr img {
    width: 700px;
    height: 400px;
    border: 5px solid black;
    background-color: #faebd7;
    position: relative;
    z-index: 5;
}

#wwr .image-link {
    max-width: 100%;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#wwr-description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #faebd7;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    border: 5px solid black;
}

#wwr-description p {
    margin: 0 auto;
    font-size: 1.5em;
    width: 500px;
}

/* ICE */

#ice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    margin-left: 15px;
}

#ice img {
    overflow: hidden;
    width: 100%;
    max-height: 400px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 5px solid black;
    position: relative;
    background-color: #faebd7;
}

#ice-description {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #faebd7;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    z-index: 0;
    border: 5px solid black;
}

#ice-description p {
    margin: 0 auto;
    font-size: 1.5em;
}

/* ICE page */

#ice-head {
    margin-top: 10px;
    background-color: #faebd7;
    border: 10px solid black;
    text-align: center;
}

#ice-head p {
    font-size: 1.5em;
    margin-inline: 15%;
}

.ice-box {
    border: 10px solid black;
    width: 520px;
    height: auto;
    background-color: #faebd7;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
}
.ice-box:hover {
    transform: scale(1.07);
}
.ice-box p {
    font-size: 1.5em;
    margin-inline: 8%;
}

#ice-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: rgba(109, 109, 109, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 20px;
    max-height: auto;
    position: relative;
}

/* Client Report */

header {
    background-color: #faebd7;
    margin: 20px;
    margin-bottom: 0px;
    padding: 30px;
    border: 10px solid black;
    text-align: center;
}

.report {
    background-color: #faebd7;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
}

/* Footer */

footer {
    background-color: #562E0C;
    width: auto;
    border-top: 5px solid black;
}

h3 {
    font-size: 1.5em;
    margin-left: 20px;
    color: white;
}

ul {
    font-size: 1.5em;
    color: white;
}

#footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

form {
    background-color: antiquewhite;
    width: 200px;
    border: 5px solid black;
    margin-right: 20px;
    padding: 5px;
}

