/* Add your CSS here to style your halloween page */

#wrapper {
    background-color: rgb(240, 123, 14);
}

nav {
    border: 5px solid black;
    
}
nav ul {
    list-style-type: none;   
    padding: 0;              
    margin: 0;               
    display: flex;           
    justify-content: space-around;
}

nav li {
    display: inline-block;   
    padding: 10px;
    font-size: 2em;
    font-weight: bold;

}
main {
    text-align: center;
    background-image: url('../images/spooky-background.jpg');
    background-size: cover;
}
h1, h2 {
    color: rgb(240, 123, 14);
    
}
p {
    color: white;
    width: 400px;
    margin: auto;
}
