body {
    background: #022230;
}

#wrapper {
    width: 900px;
    height: 1000px;
    margin: auto;
    background: black;
    border: 3px solid #153026;
    border-radius: 20px;
    overflow:hidden;
}

header {
    background: url("images/astronaut.avif") -50px 878px;
    height: 178px;
    width: 100%;
}

header h1 {
    font-size: 3em;
    color: black;
    float: left;
    margin: 50px 80px 50px 112px;
}

header img {
    width: 178px;
    float: left;
}

main {
    background: #164D62;
    height: 800px;
}

footer {
    background: #468C98;
    height: 100px;
}

nav {
    width: 100%;
    height: 50px;
    background: #8F5930;
    clear: both;
    text-align: center;
    border-bottom: 5px solid #153026;
    border-top: 3px solid #153026;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #EFE5CB;
    font-size: 1.5em;
    text-decoration: none;
    /* width: 225px; */
    display: flex;
    align-items: center;
}

nav a:hover {
    background: #A6A081;
    text-shadow: 4px 4px 2px #8F5930;
}

main {
    background: #EBDDBB;
    height: 800px;
}

main section {
    background: #A6A081;
    width: 40%;
    height: 40%;
    float: left;
    margin: 10px;
}
main section img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    background: maroon;
    height: 100px;
}

main #ads {
    width: 200px;
    background-color: #8F5930;
    position: fixed;
    right: 0;
    border: 3px solid #153026;
    color: #EBDDBB;
}